# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data / outputs / models
datasets/
saved_models/
*.pth
*.pkl
*.csv
*.zip

# Logs
*.log
best_params
.claude
train_models_notebook.ipynb
results
trained_models
docs
figures